@import "tailwindcss";

:root {
  --primary: #359c81;
  --primaryDark: #1f5f50;
  --primaryLight: #8de4cf;
  --black: #020202;
}

body {
  background: var(--black);
  color: var(--primary);
  font-family: monospace;
}

.text-shadow-primaryLight {
  text-shadow: 0 10px 20px var(--primaryLight);
}
